<br><br>

<hr style="margin: 0%;">

<footer class=" py-4 footer-info" id="footer-info">
    <div class="container">
      <div class="row">
        <!-- About Section -->
        <div class="col-md-4 mb-3">
          <h5>About Us</h5>
          <p>We are a company dedicated to providing the best products and services to our customers. Our mission is to exceed your expectations.</p>
        </div>
  
        <!-- Links Section -->
        <div class="col-md-4 mb-3">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-dark text-decoration-none">Home</a></li>
            <li><a href="#" class="text-dark text-decoration-none">Services</a></li>
            <li><a href="#" class="text-dark text-decoration-none">About</a></li>
            <li><a href="#" class="text-dark text-decoration-none">Contact</a></li>
          </ul>
        </div>
  
        <!-- Contact Section -->
        <div class="col-md-4 mb-3">
          <h5>Contact Us</h5>
          <p>
            <i class="bi bi-telephone-fill me-2"></i>+91 7205763783<br>
            <i class="bi bi-envelope-fill me-2"></i>dibyajyotiparida940@gmail.com<br>
            <i class="bi bi-geo-alt-fill me-2"></i>Odisha University of Technolgy and Reserach
          </p>
        </div>
      </div>
  
      <!-- Footer Bottom -->
      <div class="text-center mt-3">
        <p class="mb-0">&copy; 2024 YourCompany. All Rights Reserved.</p>
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
      </div>
    </div>
  </footer>
  
  