<% layout('layouts/boilerplate') -%>
<body>
    <br><br><br><br><br><br>
<div class="New-rout-style">
    <div class="col-6 offset-3">
    <form action="/airbnb/new" method="post" >
        <div class="input-group mb-3 mt-4 w-30 show-rout-style-title">
            <span class="input-group-text border-danger" id="basic-addon1">Title</span>
            <input type="text" class="form-control border-danger" placeholder="Title" name="listing[title]" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3 mt-4 w-30 show-rout-style-title">
            <span class="input-group-text border-danger" id="basic-addon1">Image Link</span>
            <input type="text" class="form-control border-danger" placeholder="https://placehold.co/600x400" name="listing[image.url]" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control h-1 border-danger" name="listing[description]"  placeholder="Leave a comment here" id="floatingTextareaDisabled"></textarea>
            <label for="floatingTextareaDisabled" class="form-label">Description</label>
        </div>
        <div class="row" >
        <div class="mb-3 col-md-4">
            <div class=" input-group ">
            <span class="input-group-text border-danger" id="basic-addon1">Price</span>
            <input type="number" class="form-control border-danger" name="listing[price]" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        </div>
        <div class="mb-3 col-md-8">
            <select name="listing[country]" id="Hello" class="Dropedown-desgin-btn6 form-control border-danger " data-bs-toggle="dropdown" aria-expanded="false" >
                <option value="India" class="dropdown-item" selected>&nbsp;&nbsp;India</option>
                <option value="United State" class="dropdown-item">&nbsp;&nbsp;United State</option>
                <option value="Rusia" class="dropdown-item">&nbsp;&nbsp;Rusia</option>
            </select>
          </div>
        </div>  
        <button class="border-danger Dropedown-desgin-btn6"><b>submit</b></button>
    </form>
</div>
</div>
<br><br><br><br><br>
</body>